html body{
	font-family: "Trebuchet MS";
	color: white;
}

/*==== header ==== */

body header{
	background: #87509C;
	padding: 3vw 10vw 10vw 10vw
}
body header a{
	color: white;
	text-decoration: none; 
}
body header div{
	display: flex;
	justify-content: space-between;
}
body header h1{
	margin: 2vw 2vw;
	background: url("../img/logo_insight.png") no-repeat;
	width: 180px;
	height: 34px;
	text-indent: -300px;


}

body header div nav ul
{
	display: flex;
} 

body header div nav ul li{
	margin: 20px 10px 15px 5px;
	padding: 8px 15px 8px 15px;
	border-radius: 5px;
	font-size: 1.1vw;
}

body header div nav ul li.atual {
	background: #643A79;

}

body header h2{
	font-size: 3vw;
	text-align:center;
	padding: 8vw 5vw 3vw 5vw;
}

body header p{
	text-align:center;
	margin: 2vw 2vw 4vw 2vw;
}

body header p a{
	font-size: 1.2vw;
	background: #EB7D4B;
	padding: 1.5vw 4.5vw 1.5vw 4.5vw;
	border-radius: 5px;
}



/*==== nossos serviços ==== */

body section#serviço{
	background: #17C2A4;
	text-align: center;
	padding: 3vw 12vw 4vw 12vw;
}

body section#serviço h2{
	
	font-size: 3vw;
	padding: 6vw 3vw 3vw 3vw;
	letter-spacing: 0.4vw;
}
body section#serviço p#para{
	
	font-size: 1.2vw;
	margin: 0 12vw 5vw 12vw;
	
}
body section#serviço ul
{
	display:flex;
	padding: 1.2vw 0vw 0vw 0vw;
}

body section#serviço ul li h3{
	font-size: 1.6vw;
	padding: 2.5vw 0vw 0vw 0vw;
}

body section#serviço ul li p{
	font-size: 1.2vw;
	padding: 1.5vw 4vw 2.5vw 4vw;
	line-height: 1.7vw;
}



/*==== portfolio ==== */

body section#port{
	background: #FFDD99;
	padding: 0vw 0vw 7vw 0vw;
	color: #60584A;
	text-align: center;
}
body section#port h2{
	
	font-size: 2.7vw;
	padding: 5vw 2vw 2vw 2vw; 
}

body section#port p#pa{
	margin: 2vw 30vw 2vw 30vw;
	font-size: 1.2vw;
}

body section#port nav ul li a{
	text-decoration: none;
	font-size: 1.2vw;
	color: #393939;
}
body section#port nav ul{
	display: flex;
}

body section#port nav ul li{
	margin: 20px 10px 15px 5px;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	background: #EBC985;
}
body section#port nav ul li.at{
	background: #FFFFFF;
}



body section#port ul{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

body section#port ul li{
	padding: 2vw 2vw 3vw 0vw;
	font-size: 1.4vw;
}

body section#port ul li p{
	margin: 1.5vw 0vw 0vw 2vw;
}

body section#port p#more a{
	color: #D3F0E9;
	font-size: 1.3vw;
	text-decoration: none;
	border-radius: 5px;
	padding: 2vw 6vw 2vw 6vw;
	background: #17C2A4;

}

body section p#more{
	text-align: center;
	margin: 5vw 0vw 2vw 0vw;
}

footer{
	background: #344B8E;
}

footer ul{
	display: flex;
	padding: 3vw 14vw 3vw 14vw;
	font-size: 1.7vw;
	justify-content: space-between;
}

footer ul li a{
	color: #F5F6F9;
	text-decoration: none;
}

footer ul li.blue a{
	color: #30BAE7;
}
